#TODO: раскомментировать после того, как сборка попала в проект
#.htaccess
#.gitignore

node_modules
.DS_Store
.vscode
.idea
dist
*.log
/bitrix/

/upload/
/*.log
/*.sql
/*.txt
/*.xml
/*.dt
/*.html
/web.config
/*.png
/*.jpg
/*.gz
/cgi-bin/
/test/
local/node_modules